# C++ Mastery Hub engine style: Google base, 4-space indent, 100 columns.
---
Language: Cpp
BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AlignConsecutiveAssignments: None
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<gtest/'
    Priority: 1
  - Regex: '^<benchmark/'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^"cppmastery/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 2
FixNamespaceComments: true
...
